@model List<RoseClientF.Models.Hour>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChooseHour</title>
    <link href="~/Asset/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    
</body>
</html>
